#include "windows.h"
#include "../../inc/ide.h"

// Accelerator

QLFORTH ACCELERATORS
BEGIN
	"^O",           IDM_FILE_OPEN,          ASCII,							NOINVERT
    "^S",           IDM_FILE_SAVE,          ASCII,							NOINVERT
    VK_BACK,        IDM_EDIT_UNDO,          VIRTKEY,	ALT,				NOINVERT
    VK_DELETE,      IDM_EDIT_CUT,           VIRTKEY,	SHIFT,				NOINVERT
    VK_F3,          IDM_EDIT_FIND_NEXT,     VIRTKEY,						NOINVERT
    "^F",           IDM_EDIT_FIND,          ASCII,							NOINVERT
	"^R",           IDM_EDIT_REPLACE,       ASCII,							NOINVERT
	"^K",			IDM_EDIT_SWAP,			ASCII,							NOINVERT
	
	"^G",			IDM_TEXT_MAKE,			ASCII,							NOINVERT
	"^B",			IDM_TEXT_BUILD,			ASCII,							NOINVERT
END

IDI_ICON    ICON     "ide.ico"
